<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title> Map Pick Provider</title>

    <style>
      .demo {
        width: 500px;
      }
      table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
        font-size: 0.8em;
    }
    
    th {
        border: 1px solid rgb(190,190,190);
    }
    
    th[scope="row"] {
        background-color: #696969;
        color: #fff;
    }
    
  
  
      #usage {
        font-family: Consolas, Menlo, Monaco, monospace;
        background-color: #2A242D;
        color: #FDFBFB;
        font-size: 12px;
      }
    </style>
</head>
<body>
   <div>
    Map Pick Provider
   </div>
   <div>
     <label>SelectMap</label>
     <select name="maps" id="maps">
       <option value="/static/higashi.png">Higashiyama</option>
       <option value="/static/projection_edit.png">Planet Tokai</option>
       <option value="/static/pTokai.png">Planet Tokai Rev</option>
     </select>
   </div>

   <div id ="image" style="position:relative">
    <img src="/static/higashi.png" id="map" />
    <canvas id="imgCanvas" width="1600" height="1050" style="position:absolute;left:0px;top:0px">
    </canvas>
   </div>
   
   <br />

   <script>
    var map = document.getElementById('imgCanvas');
    var clickState = 0;
    var dd = [];
    var conn;

    var resolution = 1;
    var cx = -8;
    var cy = -55;

   
    map.onclick = function pfunc(evt){
//      console.log("map clicked",clickState, evt.clientX, evt.clientY);//,evt);
      dd.push({
        x: Math.round(evt.clientX*resolution+cx),
        y: Math.round(evt.clientY*resolution+cy),
      })
      clickState += 1;
    
      if( clickState == 2){
        var st = JSON.stringify(dd);
        console.log("send click2!"+st);
        conn.send("click2!"+st);
        dd = [];
        clickState = 0;
      }
    };

    var maps = document.getElementById('maps');
    maps.addEventListener('change', function(ev){
      console.log("Maps select change src:",maps.selectedIndex,ev);
      map.src = maps.options[maps.selectedIndex].value;
    });
    

    (function(){
        var c2d = document.getElementById('imgCanvas').getContext('2d');
        console.log("2d",c2d);
        c2d.lineWidth=2;
        c2d.lineCap= "round";
        c2d.strokeStyle = 'red';

        function connect(){
            console.log("Connecting!","ws://"+document.location.host+"/ws")
            conn = new WebSocket("ws://"+document.location.host+"/ws");
            conn.onclose = function(evt){
              console.log("WS Closed");
              setTimeout(function(){  // retry connect
                connect();
              }, 1000);
            }
            conn.onopen = function(evt){
              console.log("WS Connected");
              conn.send("getall"); // send get current menu data!
            }
            conn.onmessage = function(evt){
                console.log("Event:",event.data);
                // we need to set Menu items.
                var cmloc = event.data.indexOf(',');
                var cmd = event.data.substring(0,cmloc);
                if (cmd=='route'){
                    console.log("Got Route")
                    var js  = JSON.parse(event.data.substring(cmloc+1));
//                    console.log("Got",js)
                    // draw lines on map jpg...
                    var p = js[0].pose
                    c2d.beginPath();
                    c2d.moveTo(p.x, p.y);
                    for (var i = 1; i < js.length; i ++){
                      p = js[i].pose
                      c2d.lineTo(p.x, p.y);
                    }
                    c2d.stroke();
                }else {
                    console.log("Other Command:",cmd);
                }

            }
        }
        console.log("start function");
        connect();
        console.log("end function");
    })();



   </script>
</body>
</html>